@model IssueTracker.Models.ProjectIssuePersonModel

<div class="row">
    <div class="col">
        <h2>Project Information</h2>
        <table>
            <tr>
                <th>Project Name</th>
                <th>Start Date</th>
                <th>Predicted End Date</th>
                <th>Actual End Date</th>
                
            </tr>
            <tr>
                <td>
                    @Model.ProjectName
                </td>
                <td>
                    @Model.StartDate
                </td>
                <td>
                     
                </td>

            </tr>
        </table>
    </div>

</div>

