@using Microsoft.AspNetCore.Identity
@model IdentityRole

<table class="table table-striped">
    <tr>
        <th>
            Role Name
        </th>
    </tr>
    <tr>
        <td>
            @Model.Name
        </td>
    </tr>
    
</table>